#wscommand {
  width: 100%;
  bottom: -1px;
  display: block;
  position: fixed;
  padding: 5px;
}

#wscommand input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}

#wscommand input[type=text].sender {
  text-align: center;
  width: 125px;
}

#wscommand input[type=text].content {
  width: calc(100% - 200px);
}